<!-- /templates/show_all_profiles.html-->

<html>

    <body style="font-family: Verdana, Geneva, Tahoma, sans-serif; background-color:lightgoldenrodyellow">
        <center>
    <table>

        <tr>
            {% for profile in show_all_profiles %}
            <td>{{profile.firstname}} {{profile.lastname}}</td>
            <td>{{profile.city}}</td>
            <td><img src="{{profile.image_url}}" style="max-width: 400;"></td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>