<!-- /project/template/base.html-->

<html style="background-color:rgb(255, 255, 255); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"
></html>
    <head>
        <title>FEIS O'MATIC</title>
        <style type="text/css">* {cursor: url(http://cur.cursors-4u.net/cursors/cur-3/cur226.ani), url(http://cur.cursors-4u.net/cursors/cur-3/cur226.png), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2009/09/15/dark-green-glitter-pointer.html" target="_blank" title="Dark Green Glitter Pointer"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Dark Green Glitter Pointer" style="position:absolute; top: 0px; right: 0px;" /></a>
    </head>

    <body>

        <header style="background-color:rgb(255, 211, 15)">
               <center> <h1  style="color: forestgreen; font-size: xxx-large"><a href="{% url 'show_events' %}"><img src="https://media.giphy.com/media/cZ0TMqrsSjvOP3Eg8F/giphy.gif" height="50"></a>
                FEIS O'MATIC <a href="{% url 'show_events' %}"><img src="https://media.giphy.com/media/cZ0TMqrsSjvOP3Eg8F/giphy.gif" height="50"></a></h1>
              <a href="{% url 'show_events' %}">EVENT LIST</a> |
              <a href="{% url 'create_event' %}">ADD EVENT</a> |
              <a href="{% url 'create_venue' %}">ADD VENUE</a> | 
            </center>
            <hr>
        </header>
        
        {% block content %}
        {% endblock %}
    </body>
    <hr>
    
<div style="font-size: small"> <center>
Created by nichardy@bu.edu
</div> </center>

</html>