<!-- /templates/show_event_page.html-->
{% extends 'project/base.html' %}
{% block content %}
<center>
<table border="1"> <!-- displays all profile information -->
    
    <tr>
        <td> <center>
            <h2 style="font-size: xx-large">{{event_page.eventname}} </h2>  
        </center>
        </td>
    </tr>

    <tr> 
        
        <td><center><img src= "{{event_page.image}}" style="max-width: 500;"></td> 
        </center>
    </tr> 
    <tr>
        
        </tr>
    <tr>
        <center>
        <br>
        <td> 
        
    </center>
    </tr>
</table>
<td><center><a href="{% url 'update_event' event_page.pk %}">UPDATE THIS EVENT</a></center></td>


<table border="1">
    <tr>
        <td>
            VENUE:
        </td>
        <td>EVENT INFORMATION:</td>
    </tr>
    <tr>
        <td>
            <img src="{{event_page.venue.image}}"><br>
            <a href="{% url 'show_venue' event_page.pk %}">{{event_page.venue}}</a>
        </td>
        <td>
            <b>Event Date:</b> {{event_page.date}}<br>
            <b>Website:</b> <a href="{{event_page.website}}">{{event_page.website}}</a><br>
            <b></b>
        </td>
    </tr>
    
</table>
</center>
{% endblock %} 