<!-- /templates/show_all_events.html-->
{% extends 'project/base.html' %}
{% block content %}
{% load static %}
<center>
    <b>Find and Add Upcoming Irish Dance Events! </b>
<table border="1"> 
        <tr>
            <td><h3><b><center>Name</center></b></h3></td>
            <td><h3><b><center>Image</center></b></h3></td>
            <td><h3><b><center>Venue</center></b></h3></td>
        </tr>
        {% for event in showevents %} <!-- for loop to show all events in a table alongside image and venue-->
        <tr>
            <td><center><a href="{% url 'show_event' event.pk %}">{{event.eventname}}</a></center></td>
            <td ><a href="{% url 'show_event' event.pk %}"><img src="{{event.image}}" style="max-height:300; width:200;"></a></td>
            <td><center><a href="{% url 'show_venue' event.pk %}">{{event.venue}}</a></center></td>
           <br>
        </tr>
    
        {% endfor %}
    </table> </center>
{% endblock %}