<!-- templates/project/show_venue_page.html-->
{% extends 'project/base.html' %}
{% block content %}

<center> <!--separate page that displays venue information. accessible from event list or event page-->
   <h1>{{venue_page.venuename}} </h1>
<hr>
<table border="3">
<tr>
    <td><a href="{{venue_page.website}}"><img src="{{venue_page.image}}" width="500" max-height="500"></a></td>
    <td>
        {{venue_page.streetname}}<br>
        {{venue_page.city}}, {{venue_page.state}}<br> <!--basic venue information displayed in a table-->
        {{venue_page.zipcode}}
        
    </td>
</tr>
</table> <!--link to venue site and access for user to change venue information-->
<img src="https://image.flaticon.com/icons/svg/1150/1150626.svg" height="25" width="25"> <a href="{{venue_page.website}}">Venue Website Access </a><br>
<a href="{% url 'update_venue' venue_page.pk %}">UPDATE THIS VENUE</a>
<hr>
<table>
<tr>
    <td>
        <h2><center>AMENITIES</center></h2> <!--takes user input regarding amenities and displays inputs in a table with corresponding icons-->
        <img src="https://image.flaticon.com/icons/svg/1414/1414367.svg" height="25" width="25"> Free Wifi Available: {{venue_page.wifi}} <br>
        <img src="https://image.flaticon.com/icons/png/512/2100/2100969.png" height="25" width="25"> Handicap Accessible: {{venue_page.handicap}} <br>
        <img src="https://image.flaticon.com/icons/svg/1291/1291395.svg" height="25" width="25"> Coat Check Available: {{venue_page.coatcheck}} <br>
        <img src="https://image.flaticon.com/icons/svg/1161/1161644.svg" height="25" width="25"> Food Available in Venue: {{venue_page.food}} <br>
        <img src="https://image.flaticon.com/icons/svg/2100/2100863.svg" height="25" width="25"> Parking Available: {{venue_page.parkinggarage}} <br>
        
    </td>
</tr>

</table> </center>
<hr>
<center>
    <h2> <!--Displays all events located at this venue using a for loop-->
        Events At This Venue:
    </h2>
    <table>
    {% for event in venue_page.get_events %}
        <tr>
            
            <td><a href="{% url 'show_event' event.pk %}"><img src="{{event.image}}" width="200" height="200"></a></td>
            <td><a href="{% url 'show_event' event.pk %}">{{event.eventname}}</td></a>
        </tr>
        {% endfor %}
    </table>
</center>
{% endblock %}