<!-- /templates/show_possible_friends.html-->
{% extends 'mini_fb/base.html' %}
{% block content %}
<a href="{% url 'show_profile_page' profile.pk %}">Back to {{profile.firstname}}'s Profile Page</a>

<h1>{{profile.firstname}}'s Suggested Friends</h1>

{% for id in profile.get_friend_suggestions %}

<table >
        <!-- <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 1%;">
            <col span="1" style="width: 30%;">

        </colgroup>   -->
    <tr>
        
        <td><img src= "{{id.image_url}}" style="width: 150; height:200"></td>
        <td>{{id.firstname}} {{id.lastname}}</td>
        <td>
            <form action="/mini_fb/profile/{{profile.pk}}/add_friend/{{id.pk}}" method="POST">
                {% csrf_token %}
                <input type='submit' name='Add Friend' value="Add Friend">
            </form>
        </td>
        
    </tr>
</table>
{% endfor %}



{% endblock %}
