<!-- templates/mini_fb/show_profile_page.html

Single profile page view including status messages from the profile; includes header from base.html-->

{% extends 'mini_fb/base.html' %}
{% block content %}

<table> <!-- displays all profile information -->
    <tr>
        <td><img src= "{{profile_page.image_url}}" style="max-width: 500;"></td>

        
        <td> <h2>{{profile_page.firstname}} {{profile_page.lastname}}</h2>
        <br>
        <b>Hometown:</b> {{profile_page.city}}
        <br>
        <b>Contact:</b> {{profile_page.email}}</td>
    </tr>
</table>
<p> <!--Change profile information-->
    <a href="{% url 'update_profile' profile_page.pk %}">Update This Profile</a>
</p>
<hr>
<h3 style="background:steelblue; color:white">Friends:</h3>
{% if profile_page.get_friends %}
<table>
    <tr>
    {% for friend in profile_page.get_friends %} <!-- for loop using function defined under model to display profile 'friends 'entered under admin-->
    <!-- {{profile_page.get_friends}} -->
    
    <td><img src= "{{friend.image_url}}" style="width: 150; height:200"></td>
    {% endfor %}
    </tr>
    <tr>
        {% for friend in profile_page.get_friends %}
        <td><a href="{% url 'show_profile_page' friend.pk %}"><center>{{friend.firstname}} {{friend.lastname}}</center></a></td>
        {% endfor %}

    </tr>
    
</table>
{% else %}
    {{profile_page.firstname}} doesn't have any friends. :(
{% endif %}

<a href="{% url 'show_possible_friends' profile_page.pk %}">See Suggested Friends for {{profile_page.firstname}}</a>
<hr>
<h3 style="background:steelblue; color:white"><u>Status Messages</u></h3> <!--Displays status messages for this particular profile-->
<table>
        <colgroup>
            <col span="1" style="width: 45%;">
            <col span="1" style="width: 50%;">
        </colgroup>
    <tr>
        <center>
                <td><b>Time:</b></td>
                <td><b>Status:</b></td>

        </center>
    </tr>
    {% for message in profile_page.get_status_messages %} <!-- for loop using function defined under model to display profile 'status' mesages entered under admin-->
    
    <tr>
        <td>{{message.timestamp}}</td>
        <td>{{message.message}}</td>
        <td>{% if message.image %}
            <img src='{{message.image.url}}' style='max-width: 300; max-height:400'>
            {% endif %}
        </td> 
        <td><a href="{% url 'delete_status' profile_pk=profile_page.pk status_pk=message.pk %}">delete</a></td>
    </tr>
    {% endfor %}
</table> <hr>
<table>
    <!-- For loop/form submission to post and display status messages through the web page instead of admin-->
        <form method='POST' action='/mini_fb/profile/{{profile_page.pk}}/post_status' enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in create_status_form %}
        <tr>
            <th>{{field.name}}</th>
            <td>{{field}}</td>
        </tr>
        <tr> {% endfor %}  
                <td></td>
                <td>
                <input type='submit' name='Update Status' value="Update Status">
                </td> 
        </tr>
  
    </form>
  

</table>
<a href="{% url 'news_field' profile_page.pk %}">See {{profile_page.firstname}}'s news feed</a>
{% endblock %}

