<!-- mini_fb/create_profile.html-->
{% extends 'mini_fb/base.html' %}
{% block content %}
<h2 style="background:steelblue; color:white">Update profile: </h2>

<form method='POST'>
    {% csrf_token %}
    <!--{{form}}-->
    <table>
    {% for field in form %}
    <tr>
        <th>{{field.name}}</th> <!--use form fields to create new profile-->
        <td>{{field}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td>
        <input type='submit' name='Update Profile' value="Update Profile">
        </td>
    </tr>
    
    </table>
</form>



{% endblock %}